/AcceleratedCPP/.vs
/AcceleratedCPP/Debug
/AcceleratedCPP/x64

/AcceleratedCPP/Chapter3/Debug
/AcceleratedCPP/Chapter3/x64
/AcceleratedCPP/Chapter3/Chapter3.vcxproj
/AcceleratedCPP/Chapter3/Chapter3.vcxproj.filters
/AcceleratedCPP/Chapter3/Chapter3.vcxproj.user

/AcceleratedCPP/Chapter4/Debug
/AcceleratedCPP/Chapter4/x64
/AcceleratedCPP/Chapter4/Chapter4.vcxproj
/AcceleratedCPP/Chapter4/Chapter4.vcxproj.filters
/AcceleratedCPP/Chapter4/Chapter4.vcxproj.user

/AcceleratedCPP/Chapter5/Debug
/AcceleratedCPP/Chapter5/x64
/AcceleratedCPP/Chapter5/Chapter5.vcxproj
/AcceleratedCPP/Chapter5/Chapter5.vcxproj.filters
/AcceleratedCPP/Chapter5/Chapter5.vcxproj.user

/AcceleratedCPP/Chapter6/Debug
/AcceleratedCPP/Chapter6/x64
/AcceleratedCPP/Chapter6/Chapter6.vcxproj
/AcceleratedCPP/Chapter6/Chapter6.vcxproj.filters
/AcceleratedCPP/Chapter6/Chapter6.vcxproj.user

/AcceleratedCPP/Chapter7/Debug
/AcceleratedCPP/Chapter7/x64
/AcceleratedCPP/Chapter7/Chapter7.vcxproj
/AcceleratedCPP/Chapter7/Chapter7.vcxproj.filters
/AcceleratedCPP/Chapter7/Chapter7.vcxproj.user
