/AcceleratedCPP/.vs
/AcceleratedCPP/Chapter3/Debug
/AcceleratedCPP/Chapter3/Chapter3.vcxproj
/AcceleratedCPP/Chapter4/Debug
/AcceleratedCPP/Chapter4/Chapter4.vcxproj
/AcceleratedCPP/Chapter5/Debug
/AcceleratedCPP/Chapter5/Chapter5.vcxproj
/AcceleratedCPP/Debug
