/AcceleratedCPP/.vs
/AcceleratedCPP/Debug
/AcceleratedCPP/x64

/AcceleratedCPP/Chapter03/Debug
/AcceleratedCPP/Chapter03/x64

/AcceleratedCPP/Chapter04/Debug
/AcceleratedCPP/Chapter04/x64

/AcceleratedCPP/Chapter05/Debug
/AcceleratedCPP/Chapter05/x64

/AcceleratedCPP/Chapter06/Debug
/AcceleratedCPP/Chapter06/x64

/AcceleratedCPP/Chapter07/Debug
/AcceleratedCPP/Chapter07/x64

/AcceleratedCPP/Chapter08/Debug
/AcceleratedCPP/Chapter08/x64

/AcceleratedCPP/Chapter09/Debug
/AcceleratedCPP/Chapter09/x64

/AcceleratedCPP/Chapter10/Debug
/AcceleratedCPP/Chapter10/x64
